{provider_hooks, [{post, [{compile, escriptize}]}]}.
{post_hooks, [{escriptize, "cp -r $REBAR_BUILD_DIR/bin ."}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_excl_mods, [russell_prim_lexer, russell_prim_parser, russell_pf_shell_parser, russell_pfs_parser]}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "travis-ci"}.
